<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- 앱 폴더/log/ 에 날짜별 로그 -->
    <target xsi:type="File" name="file"
            fileName="${basedir}/log/${shortdate}.log"
            layout="${longdate} [${level}] ${message}"
            keepFileOpen="false" concurrentWrites="true"
            createDirs="true" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
